/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
nav {
    background-color: #02042a;
    color: white;
    padding: 15px;
    text-align: center;
}